DarkMongouille/bin
DarkMongouille/obj
DarkMongouille/bin/Debug/DarkMongouille.exe
.vs/DarkMongouille/v15/sqlite3/storage.ide
DarkMongouille/bin/Debug/DarkMongouille.exe
DarkMongouille/bin/Debug/DarkMongouille.pdb
